


@media(min-width:768px){
    .crewTech{
    @include flex-config($justify-content:center);
    flex-wrap: wrap;

    }

}
@media(min-width:1024px){
    .crewTech{
    @include flex-config($justify-content:space-between);
    flex-wrap: wrap;
    width: 100%;   
    
    }

}