.subpage{
    
    width: 100%;
    text-align: center;
    &__wrapper{
        padding:0 3rem;
        margin-top: 3rem;
        text-align: center;
        &--technology{
            padding: 0;
        }
        
    }
    &__pretitle{
        font-family: 'Bellefair', serif;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 1rem;
        &-second{
            display: none;
        }
    }
    &__lower-title{
        h2{
            text-transform: uppercase;
            font-size: 2.4rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
      
    }
    &__title{
        
        @include flex-config($align-items:center,$justify-content:center);
        letter-spacing:0.27rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
       

        span{   
            margin-right: 1.5rem;
            opacity: 0.25;
            font-weight: 400;
            font-size: 1.6rem;
        font-family: 'Barlow Condensed', sans-serif;
        }
        h1{
            font-weight: 400;
            font-size: 1.6rem;
            font-family: 'Barlow Condensed', sans-serif;
        }
    }
    &__text{
        color:$slide-text-color;
        margin: 0 1.5rem;
        padding-bottom: 2rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
        
    }
   
    
    &__img{
        width: 45%;
       &-container{
           font-size: 0;
       }
        
        &--crew{
            width:auto;
            height: 200px;
            order:1;
        }
        &--technology{
            width: 100vw;
       
        }
    

    }
}
@media(min-width:768px){
    .subpage{
        &__title{
            @include flex-config($align-items:flex-start,$justify-content:flex-start);
            flex-basis: 100%;
            padding: 2rem;
        }
        &__text{
            color:$slide-text-color;
            margin: 0 10rem;
           
        }
        &__pretitle{
           font-size: 2.4rem;
        }
        &__lower-title{
            h2{
                font-size: 4rem;
                margin-bottom: 1rem;
            }
        }
        &__img{
            &--crew{
                width:auto;
                height: 400px;
                align-self: flex-end;
            }
        }
        &__wrapper{
            flex-grow: 1;
            
            
         
            
        }

    }
}
@media(min-width:1024px){
    .subpage{
        &__title{
            margin-bottom: 10rem;
            h1{
                font-size: 2.8rem;
            }
            span{
                font-size: 2.8rem;
            }
        }
        height: 100%;
        justify-content: space-between;
        flex-grow: 1;
       
     
      

      &__wrapper{
          flex-grow: 0;
   
        padding: 4rem;
        
      }
        text-align: left;
        &__text{
            margin: 0;
            font-size: 1.8rem;
        }
        &__pretitle{
            font-size: 3.2rem;
         }
     
         &__lower-title{
             h2{
                 font-size: 5.6rem;
            
             }
         }
        &__wrapper{
            max-width: 120rem;
            margin: auto;
            justify-content: center;
         
        }
        &__title{
            flex-basis: 100%;
            flex-wrap: nowrap;
            padding: 0;
        }
        &__img{
            height:45rem;
            width: auto;
         
            
        
        }
        

    }
 
}