.subpage{

    width: 100%;
    display: grid;
    text-align: center;
    &__wrapper{
        margin-top: 3rem;
    }
    &__title{
        
        @include flex-config($align-items:center,$justify-content:center);
        letter-spacing:0.27rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
       

        span{   
            margin-right: 1.5rem;
            opacity: 0.25;
            font-weight: 400;
            font-size: 1.6rem;
        font-family: 'Barlow Condensed', sans-serif;
        }
        h1{
            font-weight: 400;
            font-size: 1.6rem;
            font-family: 'Barlow Condensed', sans-serif;
        }
    }
    &__text{
        color:$slide-text-color;
        margin: 0 1.5rem;
        padding-bottom: 2rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
        border-bottom: 2px solid $destination-brcolor;
    }
   
    
    &__img{
        width: 50%;
    
    }
}