.technology{
    flex-direction: row-reverse;
    .subpage__pretitle-second{
        display: block !important;
        letter-spacing: 0.236rem;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.4rem;
        color:$pagination-color;
        margin-bottom: 1rem;
        font-family: 'Barlow Condensed', sans-serif;
    }
}