$headings-color:hsl(0, 0, 100%);
$text-color: hsl(231, 77%, 90%);
$background-menu:hsla(0, 0, 100%, 0.08);
$background-btn:hsl(0, 0, 100%);
$background-btn-hover:rgba(255, 255, 255, 0.178);
$background-btn-hover-animation-end:rgba(255, 255, 255, 0.0);
$rectangle-background:hsla(0, 0, 100%, 0.25);